<!-- IS+ Product Recommendation Widget START --> 
<div title="You Might Also Like..." layout="horizontal" sources="related_views,similar_products,related_recently_viewed,related_cart,related_purchase" id="isp-related-widget-1"></div>
<div title="More From {{ product.vendor }} Collection" layout="horizontal" sources="similar_products_by_attributes" id="isp-related-widget-2"></div>
<script src="https://acp-magento.appspot.com/js/isp_related_products.js?v=1.0.15&UUID=0b9c316d-e684-47b5-ad46-2a85d352a872&store=1731133555"></script>
<!-- IS+ Product Recommendation Widget END -->
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

